.card {
  position: relative;
  z-index: 3;
  width: 94%;
  max-width: 400px;
  margin: 120px auto;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #187130d1;
}

.card textarea {
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form input,
.form textarea {
  width: 90%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background: #ededed;
  font-size: 14px;
}

.form textarea {
  padding: 15px 20px;
  resize: none;
  height: auto;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #888;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.button-subbmit-profile {
  width: 40%;
  margin: 0 auto;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  background: #187130d1;
  color: white;
  transition: 0.9s ease-in-out;
  font-weight: 500;
  cursor: pointer;
}

.button-subbmit-profile:hover {
  background: linear-gradient(to right, #27a147c5, #feb2dcd3);
}

footer {
  font-size: 14px;
  color: #555;
}

footer a {
  color: #183371;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  background: #ff4d4d;
  color: white;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.cancel-btn:hover {
  background: linear-gradient(to right, #ff6666, #ff99cc);
}
