<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Coffee-Shop</title>
    <link rel="stylesheet" href="./register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="logo">The Coffee-Shop</div>
      <div class="menu">
        <a class="item" href="/home">Home</a>
        <a class="item" href="/coffee">Coffee</a>
        <a class="item" href="/about-us">About Us</a>
        <a class="item" href="/create">Create</a>
        <a class="item" href="/register">Register</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/logout">Logout</a>
      </div>
    </nav>
    <div class="background"></div>
    <div class="card">
      <h2>Register</h2>
      <form action="" class="form">
        <input type="text" placeholder="Username" />
        <input type="email" placeholder="Email" />
        <input type="tel" placeholder="Phone Number" />
        <input type="text" placeholder="Address" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Repeat Password" />
        <button>Register</button>
      </form>
      <footer>Already have an account? <a href="/login">Log in here</a></footer>
    </div>
  </body>
</html>
