<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee-shop</title>
    <link rel="stylesheet" href="./login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="logo">The Coffee-Shop</div>
      <div class="menu">
        <a class="item" href="/home">Home</a>
        <a class="item" href="/coffee">Coffee</a>
        <a class="item" href="/about-us">About Us</a>
        <a class="item" href="/create">Create</a>
        <a class="item" href="/register">Register</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/logout">Logout</a>
      </div>
    </nav>
    <div class="background"></div>
    <div class="card">
      <h2>Login</h2>
      <form action="" class="form">
        <input type="email" placeholder="email" value="" />
        <input type="password" placeholder="password" />
        <button>Sign in</button>
      </form>
      <footer>Need an account? Sign up <a href="/register">here</a></footer>
    </div>
  </body>
</html>
