.catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 20px;
  background: #ffffffb3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog header {
  text-align: center;
  margin-bottom: 20px;
}

.catalog h1 {
  font-size: 2rem;
}

.catalog p {
  font-size: 1rem;
  color: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 0.9rem;
  background: #30824a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

.dropbtn:hover {
  background: linear-gradient(to right, #27a147c5, #feb2dcd3);
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #30824a;
  transition: background 0.3s;
}

.dropdown-content a img {
  width: 20px;
  margin-right: 10px;
}

.dropdown-content a:hover {
  background: #e6f4ea;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.items-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-link {
  text-decoration: none;
  display: block;
  width: fit-content;
}

.product-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 270px;
  height: 400px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 3px;
}

.product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #187130;
}

.product-breed {
  font-size: 1rem;
  color: #555;
  font-style: italic;
}

.product-description {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

.details-button {
  background: #187130;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 15px;
}

.details-button:hover {
  background: linear-gradient(to right, #27a147c5, #feb2dcd3);
}
