:root {
  --color-primary: #f8c7e2d3;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #52b47bd0, #f8c7e2d3);
  color: #187130;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background: #21b53c94;
  z-index: -1;
}

.background::after {
  content: "";
  position: fixed;
  right: -50vmin;
  bottom: -55vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background: #ffa1d3a8;
}
/* Navigation bar */

/*hero section*/

/*footer*/

/*About-Us*/
