.card {
  position: relative;
  z-index: 3;
  width: 94%;
  max-width: 400px;
  margin: 120px auto;
  padding: 40px 30px;
  border-radius: 12px;
  background: var(--color-white);
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-text);
}

.card p {
  margin: 0 0 20px;
  font-size: 14px;
  color: #555;
}

.form {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
}

.form input,
.loginButton {
  width: 90%;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
}

.form input {
  padding: 0 20px;
  background: #ededed;
}

.form input::placeholder {
  color: #888;
}

.loginButton {
  width: 50%;
  margin: 0 auto;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  background: #187130d1;
  color: white;
  transition: 0.9s ease-in-out;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.loginButton:hover {
  background: linear-gradient(to right, #27a147c5, #feb2dcd3);
}

.card {
  font-size: 14px;
  color: #777;
}

.link {
  color: #094a0b;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-container input:focus {
  border-color: #187130;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  text-align: left;
}

.general-error {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav .menu {
    flex-direction: column;
    gap: 10px;
  }
}
