:root {
  --color-primary: #3a85b4;
}

body {
  font-family: "Poppins", sans-serif;
  background: #9baedb;
  color: #183371;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #183371;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

nav .logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

nav .menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .item {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  line-height: 60px;
  cursor: pointer;
}

nav .item:hover {
  color: var(--color-primary);
}

/* Background Styling */
.background {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background: #65c8ff;
  z-index: -1;
}

.background::after {
  content: "";
  position: fixed;
  right: -50vmin;
  bottom: -55vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background: #143d81;
}

/*Create Product Card */
.card {
  position: relative;
  z-index: 3;
  width: 94%;
  max-width: 400px;
  margin: 120px auto;
  padding: 40px 30px;
  border-radius: 12px;
  background: white;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #183371;
}

.card textarea {
  height: auto;
}

.form {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
}

.form input,
.form textarea {
  width: 90%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background: #ededed;
  font-size: 14px;
}

.form textarea {
  padding: 15px 20px;
  resize: none;
  height: auto;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #888;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.form button {
  width: 45%;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  background: #183371;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover {
  background: var(--color-primary);
}

.cancel-btn {
  background: #711818;
}

.cancel-btn:hover {
  background: #a32424;
}
